@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* CSS Document */
::-moz-selection {
    background: #7b7d7f;
    color: #ffffff;
    text-shadow: none;
  }
  ::selection {
    background: #7b7d7f;
    color: #ffffff;
    text-shadow: none;
  }
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video,
  textarea,
  input {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;
    font-family: "DM Sans", sans-serif;
  }
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  body {
    color: #212121;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    overflow: hidden;
    font-family: "DM Sans", sans-serif;
    background: #EFEFEF;
    overflow-y: auto;
  }

  a {
    text-decoration: none;
    transition: all 0.25s ease-out 0s;
  }
  p {
    font-family: "DM Sans", sans-serif;
  }
  img {
    border: 0px;
  }
  ol,
  ul,
  li {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: "";
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  * {
    -webkit-appearance: none;
  }
  ::-webkit-input-placeholder {
    color: #000000CC;
    opacity: 25%;
  }
  ::-moz-placeholder {
    color: #000000CC;
    opacity: 25%;
  }
  :-ms-input-placeholder {
    color: #000000CC;
    opacity: 25%;
  }
  :-moz-placeholder {
    color: #000000CC;
    opacity: 25%;
  }

  /*------------------- common style ---------------------------*/
  a,
  button,
  input,
  select,
  textarea {
    outline: 0;
  }

  *,
  :after,
  :before {
    outline: 0;
  }

  .btn{
    box-shadow: none;
    outline: none;
  }

  .btn:focus{
    box-shadow: none;
    outline: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  iframe {
    border: 0;
  }

  a:focus,
  a:hover {
    outline: 0;
    text-decoration: none;
  }

  section {
    width: 100%;
    float: left;
  }
.container{max-width: 100%; padding: 0;}

/* ------------------------------------------------------------------------------- */

.loading-wrap {
  height: 100%;
  position: fixed;
  background: rgba(255, 255, 255, 0.4);
  width: 99%;
  z-index: 999;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.loading-wrap .loading-container {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
}

.loading-wrap .loading-container .loading-image {
  width: 30px;
  margin: auto;
}

.loading-wrap .loading-container span {
  text-align: center;
}

.loading-wrap .loading-container .loading-image img {
  width: 100%;
  height: auto;
}
nav.navbar { width: 100%;padding: 10px; position: fixed;background: #ffff;z-index: 100;box-shadow: 4px 0px 16px 0px #0000000A;left: 0;border-radius: 0 0 0 0;top: 0; border-bottom: 1px solid #dadada;}
.navbar-brand img{height: 50px;}
main{ margin-top: 120px;}
.category{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.learn-section .col-md-6{margin: 0 0 26px;}
.learn-section .col-md-6 .card {border-radius: 5px; border: none;}
.category .progress-area {width: 100%; margin: 10px 0 0;display: flex; flex-wrap: wrap;  align-items: center;}
.learn-section .col-md-6 .card .card-body { padding: 30px;}

.category .progress-area progress {
  flex: 1 0 0;
}

.category .progress-area span {
  margin: 0 0 0 12px;
}

nav.navbar .dropdown .nav-link.dropdown-toggle {
  padding-right: 20px;
  background: url(../images/chevron-down.svg) no-repeat center;
  background-position-x: 100%;
  background-size: 12px;
  color: #000;
}

nav.navbar .dropdown .nav-link.dropdown-toggle:after {
  display: none;
}

.category .category-image {
  width: 90px;
  transition: all .25s ease-in-out;
}
.category .category-content {
  width: 75%;
  transition: all .25s ease-in-out;
  flex: 1 0 0;
}
.category .category-content h3 { font-size: 26px; font-weight: 500; color: #000; display: block;}
.category .category-title {
  width:max-content;
  padding:5px 8px;
  margin:5px;
  border:1px solid #d2d1d3;
  border-radius:5px;
}
.category .category-content h5 {
  font-size: 19px;
  color: #6E6E6E;
  margin: 0 0 10px;
}

.choice{
  background-color: #6c757d;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 15px;
}
.choice label.choice-label {
  min-width: 40px;
  width:100%;  height:100%;
  border: 2px solid #FFF;

}
.choice .choice-check-group:has(input:checked) label.choice-label{
  background:url(../images/tick.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.form label{
  width: 100%;
}
.toast-container{
  z-index: 101;
}
table.dataTable img{
  width: 40px;
}
table.dataTable tr td{
  max-height: 50px;
  overflow-y: hidden;
}
table tr th .form-check .form-check-box {
  width: 25px;
  height: 25px;
  border: 2px solid #FFF;
}
table tr th .form-check .form-check-box:checked{
  background:url(../images/tick.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
table tr td .form-check .form-check-box {
  width: 25px;
  height: 25px;
  border: 2px solid #26a72f;
}
table tr td .form-check .form-check-box:checked{
  background:url(../images/tick-green.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
button.close {
  background:black;
  color:white;
  width:25px;
  height:25px;
  font-weight: 500;
  font-size: large;
  align-items: center;
  border-radius:50%;
  border: none;
}
.exam-container{
  width: 100%;
  margin-top: 40px;
  padding: 50px 30px;
  height: 100%;
  min-height: 89vh;
}
.exam-container .container-wrap {
  width: 90%;
  float: none;
  padding: 50px;
  margin:50px auto 0;
  background: #ffff;
  box-shadow: 4px 0px 16px 0px #0000000A;
  border-radius: 10px;
  max-width: 1320px;
}
.lesson .lesson-title {
  margin: 0 30px;
  padding: 2px 5px;
  border-left:3px solid #ef9b10
}
.lesson .lesson-title h3{
  font-weight:600;
  font-size:17px;
}
.lesson .lesson-body{
  margin-top: 50px;
}

.lesson .lesson-body .col-md-6 {
  margin: 0 0 26px;
}
.lesson .lesson-row {
  width: 100%;
  color: #000;
  border-radius: 5px;
  padding: 30px;
  margin: 0 0 0;
  background: #fff;
  text-align: center;
  position: relative;
  border: 1px solid #ffff;
  transition: all .25s ease-in-out;
}
.lesson .lesson-row:hover {
  box-shadow: 4px 0px 16px 0px #0000000A;
  border:1px solid #FBAE1E;

}
.lesson .lesson-row-title{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;

}

.lesson .lesson-row-title .lesson-line {
  position: absolute;
  background: #E7E7E7;
  padding: 6px 14px;
  border-radius: 5px;
  font-size: 17px;
  left: 18px;
  top: 18px;
  transition: all .25s ease-in-out;
}

.lesson .lesson-row:hover .lesson-line {
  background: #F0D987;
}

.lesson .lesson-row-title  h3 {
  width: 100%;
  font-size: 24px;
  margin: 0 0 10px;
}

.lesson .lesson-row-title h4 {
  width: 100%;
  font-size: 24px;
  color: #6E6E6E;
}

.lesson .lesson-row-subtitle{
  width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
  font-weight:500;
  font-size:14px
}
.lesson-pagination {
  display:flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width:100%;
  padding:0;
  background: #E1E4EE;
}

.lesson-pagination .lesson-left,.lesson-pagination .lesson-previus {
  left:0;
  margin-right:auto;
}
.lesson-pagination .lesson-right ,.lesson-pagination .lesson-finish ,.lesson-pagination .lesson-end {
right:0;
margin-left:auto;
}
.lesson-pagination .button{
  display: flex;
  color: #FFF;
  background:#0f97f3;
  padding:5px 15px;
  justify-content: center;
  align-items: center;
  margin:auto;
  border: none;
}

.exam-container .container-wrap .lesson .lesson-body {
  margin: 24px 0 0;
}

.exam-container .container-wrap .lesson .lesson-body .video-title {
  margin: 0 0 20px;
}

.exam-container .container-wrap .lesson .lesson-body .video-container {
  max-width: 940px;
  margin: 0 auto;
}

.exam-container .container-wrap .lesson .lesson-body .video-container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.exam-container .container-wrap .lesson .lesson-body .video-container .videoframe {
  width: 100%;
  position: relative;
  padding-bottom: 56%;
}

.exam-container .container-wrap .lesson .lesson-body .note-title {
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 20px;
}

.exam-container .container-wrap .lesson .lesson-body p {
  font-size: 20px;
  line-height: 1.5;
  margin: 0 0 20px;
}

.exam-container .container-wrap .lesson .lesson-body h2 {
  font-size: 26px;
  line-height: 1.5;
  margin: 0 0 12px;
}


.exam-footer {
  position: fixed;
  bottom: 0;
  left: 0;
}

.exam-container.exam-video .container-wrap {
  background: none;
  box-shadow: none;
}

#finish-exam-confirm .modal-content {
  padding: 10px;
  border-radius: 10px;
}

#finish-exam-confirm .modal-content .modal-header {
  padding-bottom: 0;
  border: none;
}

.modal-content p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 20px;
}

#finish-exam-confirm .modal-dialog {
  max-width: 425px;
  top: 42%;
  transform: translateY(-50%);
}

#finish-exam-confirm .modal-content .modal-header h5 {
  font-size: 20px;
  font-weight: 500;
}

#finish-exam-confirm .modal-content .modal-body .btn.btn-dark {
  width: 48%;
  margin-right: 2%;
}

#finish-exam-confirm .modal-content .modal-body .btn.btn-secondary {
  width: 48%;
  border: 1px solid #8F8F8F;
  background: none;
  color: #000000;
}

#finish-exam-confirm .modal-content .modal-body .btn.btn-dark:hover {
  background: none;
  color: #000;
}

#finish-exam-confirm .modal-content .modal-body .btn.btn-secondary:hover {
  background: #8F8F8F;
  color: #fff;
}

.exam-container .container-wrap .lesson .lesson-body .mcq-container .form-group .form-check {
  padding-left: 45px;
  margin: 0 0 20px;
  font-size: 20px;
}

.exam-container .container-wrap .lesson .lesson-body .mcq-container .form-group .form-check input {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid;
  position: relative;
  top: -3px;
  box-shadow: none;
  margin-left: -43px;
}

.exam-container .container-wrap .lesson .lesson-body .mcq-container .form-group .form-check input:checked {background: url(../images/check-icon.svg) no-repeat center; background-size: 100%;}

.exam-container .container-wrap .lesson .lesson-body .note-row .forms-inputs input {
  height: 54px;
}

.exam-container .container-wrap .lesson #lesson-footer-pagination {
  width: 100%;
  margin: 30px 0 0;
  text-align: center;
}

.exam-container .container-wrap .lesson .lesson-body .note-currect {
  width: 100%;
  font-size: 20px;
  line-height: 1.5;
  margin: 33px 0 20px;
}

.exam-container .container-wrap .lesson .lesson-body .note-currect label {
  font-weight: 500;
  display: block;
  margin: 0 0 15px;
}

.progress-area progress {
  width:90%;
  height:6px;
  box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 );
}

.progress-area progress::-webkit-progress-bar {
background-color: #dee2e6;
border-radius: 7px;
}
.form-check-ans {
  display:flex;
  flex-wrap:wrap;
  left:0;
}
.form-check-ans  span.question-user-ans {
  width:15px;
  height:15px;
  border-radius:50%;
  margin: 5px;
}
/* .form-check-ans  span.question-user-ans.wrong.checked-ans{
  background-color:red;
}
.form-check-ans  span.question-user-ans.wrong.checked-ans::after{
  background-image: url('../images/close.svg');
  background-size: 10px 10px;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 3px;
  width: 10px;
  height: 10px;
  content:"";
} */
.form-check-ans  span.question-user-ans.correct{
  background-color:green;
}
.form-check-ans  span.question-user-ans.correct::after{
  background-image: url('../images/tick.svg');
  background-size: 10px 10px;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 3px;
  width: 10px;
  height: 10px;
  content:"";
}
.lesson-row-sets {
  width:100%;
  display:flex;
  flex-wrap:wrap;
}

.lesson-row-sets .sets-item {
  padding:5px;
  margin:5px;
  border:1px solid #7ef6f8;
  border-radius:5px;
  color:black;
  background: none;
}
.lesson-row-sets .sets-item:hover {
  box-shadow: 4px 0px 16px 0px #0000000A;
  background: #7ef6f8;;
}
.option-toggle {
  width:fit-content;
  display:flex;
  margin: 20px 10px;
  flex-wrap:wrap;
  background-color:#f1f7fb;
  border:1px solid #6c757d;
  border-radius:10px;
  overflow:hidden;
}
.option-toggle .option-item {
  padding:8px 14px;
}
.option-toggle .option-item:has(input:checked) {
 background-color:#ef9b10;
}
.exam-progress {
  width: 100%;
  display: block;
  margin: 0;
  padding:0;
  height: 100%;
  background:#1599f2;
}
.exam-progress>.exam-progress-inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5%;
}
.exam-progress>.exam-progress-inner>.exam-left {
  width: auto;
  height: 100%;
  display: inline-block;
  float: left;
}
.exam-progress>.exam-progress-inner>.exam-right {
  width: auto;
  height: 100%;
  display: inline-block;
  float: right;
}
.exam-progress>.exam-progress-inner>.exam-center {
  width: auto;
  height: 100%;
  display: inline-block;
  float: none;
}
.progress-main {
  min-width: 350px;
  display:flex;
  flex-wrap:wrap;
  align-items: center;
}
.progress-main .timer {
  width:max-content;
  display:flex;
  flex-wrap:wrap;
  margin-left:5px
}
.progress-main .timer .minute {
  width:max-content;
  display:block;
}
.progress-main .timer   span {
  padding:0 15px;
  width:max-content;
  display:block;
  color:white;
  font-size:19px;
}
.exam-progress>.exam-progress-inner>.exam-right .progress-main {
  justify-content: right;
}
.exam-progress>.exam-progress-inner>.exam-right .progress-main .bookmark {
  width: auto;
  float: right;
  padding: 7px 15px 0 0;
}

.exam-progress>.exam-progress-inner>.exam-right .progress-main .bookmark img.active-img{
  display: block;
}
.exam-progress>.exam-progress-inner>.exam-right .progress-main .bookmark img.inactive-img{
  display: none;
}
.exam-progress>.exam-progress-inner>.exam-right .progress-main .bookmark .active img.active-img{
  display: none;
}
.exam-progress>.exam-progress-inner>.exam-right .progress-main .bookmark .active img.inactive-img{
  display: block;
}

.progress-menu {
  width:max-content;
  display:flex;
  flex-wrap:wrap;
  background:#fff;
  margin:5px;
  padding: 0px 20px;
}
.progress-menu .menu-text{
  margin:10px 5px;
  align-items:center;
  text-align:center;
}
.progress-menu .menu-icon{
  margin:5px 5px 0px 0px;
}

.question-time {
  width:100px;
  justify-content:center;
  display:flex;
  flex-wrap:wrap;
  background: #000;
  margin-right: 30px;
  float: right;
  border: 1px solid #1599f2;
  border-radius: 5px;
}
.question-time .timer {
  width:max-content;
  display:flex;
  flex-wrap:wrap;
  margin-left:5px
}
.question-time .timer .minute {
  width:min-content;
  display:block;
}
.question-time .timer   span {
  padding:2px 4px;
  width:min-content;
  display:block;
  color:white;
  font-size:19px;
}
@keyframes heartbeat {
  0% {
      transform: scale(1);
  }
  20% {
      transform: scale(1.1);
  }
  40% {
      transform: scale(1);
  }
  60% {
      transform: scale(1.1);
  }
  80% {
      transform: scale(1);
  }
  100% {
      transform: scale(1);
  }
}
.time-up {
  background-color: red;
  animation: heartbeat 1s infinite;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.modal-expand {
  position: absolute;
  top:150px;
  left:0;
  width: -webkit-fill-available;
  height:max-content;
  background:#EEEEEE;
  z-index:11;
}
.modal-expand.modal-expand-result {
  top:90px;
}
.modal-expand .container-wrap {
  width: -webkit-fill-available;
  float: left;
  padding: 20px;
  margin: 20px 30px;
  background: #ffff;
  box-shadow: 4px 0px 16px 0px #0000000A;
  border-radius: 10px;
}
.tabbody .question-list {
  width:100%;
  display:flex;
  flex-wrap:wrap;
  padding: 10px 0px;
  justify-content: center;
}
.tabbody .question-item {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  box-sizing: border-box;
  width:50px;
  margin:5px;
  border:2px solid #f0f0f0;
  border-radius: 5px;
  background-color: #ffffff;
  justify-content:center;
}
.tabbody .question-item:hover{
  border:2px solid #7ef6f8;
  box-shadow: 4px 0px 16px 0px #0000000A;
}
.tabbody .question-item.status-answered{
  background-color: #1599f2;
}
.tabbody .question-item.status-not-answered{
  background-color: #a0a0a0;
}
.tabbody .question-item.status-not-read{
  border:2px solid #a0a0a0;
}
.tabbody .question-item.status-flag{
  background-color: #1599f2;
}
.tabbody .question-item .item-group {
  width: 100%;
  background: none;
  border: none;
  position:relative;
}
.tabbody .question-item .item-group span{
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  margin: 0 auto 0;
}
.tabbody .question-item .item-group img{
  display: none;
  width: 100%;
}
.tabbody .question-item.status-flag .item-group img{
  display: block;
}
.question-preview-title,.tab-content .tabheader {
  text-align:center;
  font-size:14px;
  color:#a0a0a0
}
.question-preview-title h3,.tab-content .tabheader h3{
  color:#1599f2;
  padding: 15px 0px;
  font-size:18px
}
.question-tab{
  border:1px solid #f0f0f0;
  display:flex;
  flex-wrap:wrap;
  width:max-content;
  padding: 0 10px;
  margin: auto;
}
.question-tab .nav-link{
  color: #212121;
  margin: 0;
  display:flex;
  padding: 0px 15px;
  justify-content: center;
  align-items: center;
}
.question-tab .nav-link.active{
  margin-bottom:0;
  border:none;
}
.question-tab .nav-item .nav-link.active {
  border-bottom:5px solid #1599f2;
}
.nav-status{
  width:40px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  box-sizing: border-box;
  margin: 10px 5px;
  justify-content:center;
  border-radius:5px;
  border:1px solid #a0a0a0;
  position: relative;
}
.nav-status img {
  width: 100%;
  display: block;
}
.nav-status span {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  margin: 0 auto 0;
}

.nav-status.status-active{
  background:#199bf3;
  color:#ffffff;
  border:none;
}
.nav-status.status-inactive{
  background:#bcbabd;
  border:none;
}
.exam-result{
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
}
.exam-result .exam-result-content {
  width:400px
}

.exam-result .exam-result-content .exam-mark-title {
   width:100%;
  padding:20px;
  background-color:#edf5f9;
}

.exam-result .exam-result-content .exam-mark-title  .title-2{
  font-size:18px;
  font-weight:800
}
.exam-result .exam-result-content .exam-mark-body{
  padding:10px 50px;
}

.exam-result .exam-result-content .exam-mark-body .mark-label{
  margin: 5px 10px;
  display:flex;
}
.exam-result .exam-result-content .exam-mark-bottom .btn{
  display:block;
  margin: 10px 0;
}
.submit{
	margin-top:7px;
}
.exam-list {
  width:100%;
}
.exam-list .exam-title {
  display:flex;
  width:100%;
  margin:0 0 20px;
  border:1px solid #C0C0C0;
  border-radius:10px;
  padding: 15px 20px;
  align-items: center;
}
.exam-list .exam-title h3{
  width:100%;
  float:left;
  font-size: 16px;
  font-weight: 600;
}
.exam-list .exam-title .action-btn{
  width:max-content;
  float:right;
  background: #FFA800;
  border: 1px solid #FFA800;
  padding: 10px 22px;
}

.exam-list .exam-title .action-btn:hover {
  background: no-repeat;
  color: #FFA800;
}

.user-info h3{
    font-weight:bold;
    margin-top:10px;
}  

.table-outer table tbody tr td p { 
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: calc(3 * 1.2em);
  line-height: 1.2em; 
}
.maskinput{
  text-align: center;
}
.header_nav .header_wrapp .header_title {
  display: flex;
}
.header_nav .header_wrapp .header_content{ 
  min-width: 200px;
}
.form-progress-ans {
  width:100%; 
}

.form-progress-ans .form-progress {
  width:100%;
  margin:5px 15px;
  display:flex;
  align-items:center; 
  font-size: 20px;
}
.form-progress-ans .form-progress label{
  width:max-content;
  font-weight:500;
}
.form-progress-ans .form-progress progress{
  width:max-content;
  min-width:400px; 
  margin: 0 5px;
  height:22px;
}
.form-progress-ans .form-progress progress::-webkit-progress-bar {
  background-color: #ffffff;  
}
.form-progress-ans .form-progress progress::-webkit-progress-value {
  background-color: #e0e0e0;  
}
.form-progress-ans.ans-select .form-progress progress::-webkit-progress-value {
  background-color: #4caf50;  
}
.form-control.field-view {
  width:100%;
  height:40px
}
.summery-wrap {
  display:flex;
  flex-wrap:wrap;
  width: -webkit-fill-available;
  height:max-content;
  min-height:350px;
  margin:30px 150px;
  background:white;
  padding:30px 110px;
  border:1px solid #fafafa;
  border-radius:15px;
}
.summery-wrap .summery-content{
  color:black; 
  width:100%;
}
.summery-wrap .summery-action{ 
  width:100%;
}
.exam-overview {
  width:100%;
  height:100%;
  display:flex;
}
.exam-overview .vl{
  width:1px;
  border-left: 1px solid #dfdfdf;
  height:100%;
}
.exam-overview .exam-overview-content{
  width:100%;
  height:100%;
  margin:5px 10px;
}
.exam-overview .exam-overview-content .overview-title h3 {
  font-size:18px;
  font-weight:500;    
  margin:5px 10px;
}
.overview-table {
    width:-webkit-fill-available; 
    margin: 5px 15px;
    padding:5px;
}
.overview-table table thead th,.overview-table table tbody th{
    width:max-content;  
    border:1px solid rgb(0 0 0 / 10%); 
    background:#dfdfdf;
    color:black;
    font-size:16px;
    font-weight:450;
} 
.overview-table table tbody td{
    width:max-content;  
    border:1px solid rgb(0 0 0 / 10%); 
    background:#fff;
    color:black;
    font-size:16px;
    font-weight:450;
}
.workshop-wrap ,.payment-wrap{
  background:#FFFFFF;
  padding:10px 20px; 
  box-shadow:4px 0px 16px 0px #0000000A;
  border-radius:10px;
}
.payment-title {
  font-size:18px;
  font-weight:500;
  margin: 5px 0;
}
.amout-item{
  margin: 5px 10px;
  padding: 5px 0;
}
.amout-item .amout-item-title {
  font-size:14;
  font-weight:400;
}
.process-header .form-data select option.selected { 
  color:black;
  background:#afafaf
}
.lesson-pdf-body canvas {
  border: 1px solid black;
}
section.post-section {
  margin: 10px 0px;
  width :100%;
  padding:0
}
section.post-section .post-item{
  width :100%;
  padding:10px 15px;
  margin: 10px 0px;
  background-color:white;
  border:1px solid #cfdeed;
  border-radius:5px;
}
section.post-section .post-item .post-header{
  display:flex; 
  width:100%;
  justify-content:left;
  align-items:center
}
section.post-section .post-item .post-header .avathar{
  width:40px;
  height:40px;
  border-radius:50%;
  margin: 15px 5px;
}
section.post-section .post-item .post-header .title{
  width:100%;
}
section.post-section .post-item .post-header .title h3{
  font-size: 16px;
  font-weight: 500px;
  color: #000;
}
section.post-section .post-item .post-header .title span{
  font-size: 12px;
  font-weight: 400px;
  color: #919291;
}
section.post-section .post-item .post-header .action{
  width:170px;
} 
section.post-section .post-item .post-actions {
  width:100%;
  display:flex;
  justify-content:left;
  align-items:center;
}
section.post-section .post-item .post-actions a.post-action-btn {
  width:max-content;
  display:flex;
  justify-content:left;
  align-items:center;
}
section.post-section .post-item .post-actions a.post-action-btn img{
  width: 35px;
  margin: 5px 5px;
}
section.post-section .post-item .post-actions a.post-action-btn span{
  margin: 5px 5px;
}
.class-term {
  width:100%;
  margin:0 10px;
}

.class-term .class-term-label {
  width:100%;
  font-size:18px;
  font-weight:500;
  margin: 10px 0px;
}
.class-term .class-term-content{
  width:100%;
}
.class-term .class-term-content .zoom-list .zoom{
  width:100%;
}
.class-term .class-term-content .zoom-list .zoom-item {
  width:100%;
  background:white;
  padding: 10px 25px;
  border:1px solid #e9eaeb;
  display:inline-flex;
  flex-wrap:wrap;
} 
.class-term .class-term-content .zoom-list .zoom-item .zoom-id{
  width:50%;
  font-size:16px;
  font-weight:500;
  color:#010101;
}
.class-term .class-term-content .zoom-list .zoom-item .zoom-code{
  width:50%;
  font-size:16px;
  font-weight:500;
  color:#010101;
}
.class-term .class-term-content .zoom-list .zoom-item .zoom-link{
  width:100%;
  font-size:16px;
  font-weight:500;
  color:#010101;
}  
.class-term .class-term-content .zoom-list .zoom-item .zoom-link a{
  color:#010101;
  font-size:18px;
  font-weight:500;
}
.dropzone {
  width: 100%;
  height: 200px;
  margin: 10px 0px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropzone.dragover {
  background-color: #e0e0e0;
}

.dropzone p {
  color: #666;
}
.selected-files {
  margin: 15px 0px;
}
.selected-files span{
  padding: 2px 6px;
  border:1px solid #aaaaaa;
  border-radius:5px
}
.analytic-list {
  width:100%
}
.analytic-list .analytic-item {
  width:100%; 
} 
.analytic-exam .row {
  align-items: start; 
}
.analytic-exam .analytic-exam-sidebar{
  overflow-y: hidden; 
  height: 100%;
}
.analytic-exam .analytic-exam-category{
  overflow-y: auto; 
}
.analytic-exam .analytic-exam-category .analytic-exam-category-item,.analytic-exam .analytic-exam-category .analytic-exam-category-item .exam-overview ,.analytic-exam .analytic-exam-category .analytic-exam-category-item .exam-overview .exam-overview-content{
  height: auto;
}
.analytic-exam .analytic-exam-item .overview-title {
  display:flex;
  width:100%;
  justify-content:center;
  align-items:center;
} 
.progress-list {
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.progress-list .progress-item {
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}
.progress-list .progress-item::before {
  content:"";
  height:1px;
  width:100%;
  background-color:black
}
.progress-list .progress-item::after {
  content:"";
  height:1px;
  width:100%;
  background-color:black
}

.poll-graph-bar-wrapper {
  position: relative;
  height: 20px;
  background: #f1f1f1;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 5px;
}

.poll-graph-bar {
  height: 100%;
  background: #39a84f;
  transition: width 0.5s ease;
}
.poll-options {
  width:100%;
} 
.poll-options .form-check {
  width:100%;
}
.poll-options .form-check .form-check-input{
  display:none
}
.poll-options .form-check .form-check-label{
  display: block;
  width:100%;
  height:80px;
  border:1px solid #f1f1f1;
  margin:10px 0px;
  padding:10px 15px;
  border-radius:15px
}
.poll-options .form-check:not(.vote,.voted) .form-check-label span{
  display:none
} 
.poll-options .form-check.vote .form-check-label{
  background-color:#f1f7fb;
  color: black;
}
.poll-options .form-check.voted .form-check-label{
  background-color:#2196F3;
  color: white;
}
.post-header {
  width:100%;
  display:flex;
  margin:10px 0;
}
.post-header .avathar{
  width:40px;
  height:40px;
  margin:5px 10px;
}
.post-header .title {
  width:100%
}
.post-header .title h3{
  font-size:18px;
  font-weight:500;
}
section.post-section .post-container .post-item .post-title{   
  font-size:16px;  
  color:#212121;
  font-weight:500;

}
section.post-section .post-container .post-item .post-content{    
  color:#212121;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden; 
  text-overflow: ellipsis;
}
.post-comment {
  margin: 10px 0px;
}
.post-comment .form-group label{
  font-size:18px
}
.post-comment{
  width:100%;
}
.post-comment .post-comment-item {
  width:100%; 
  margin: 10px 0;
  display:block;
}
.post-comment .post-comment-item .post-comment-text{
  border:1px solid #afafaf;
  padding: 10px 5px;
  margin: 10px 0;
  border-radius:20px 20px 20px 0px;
  display:flex;
  flex-wrap:wrap;
  width:100%;
}
.post-comment .post-comment-item .post-comment-replys{
  float:right;
  width:80%;
  padding: 10px 0;
}
.post-comment .post-comment-item .post-comment-text .comment-text {
  width:100%;
  text-align:justify;
  margin:5px 10px 15px 10px;
}

.post-comment .post-comment-item .post-comment-text .comment-action{ 
  width:100%;
}
.post-comment .post-comment-item .post-comment-text .comment-avathar {
  width:40px;
  height:40px
}
.replay-list {
  width:100%;
  margin: 10px 0px;
}
.replay-list .replay-list-item .replay-list-text {
    border:1px solid #afafaf;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius:20px 20px 0px 20px;
    display:flex;
    flex-wrap:wrap;
    width:100%;
}
.replay-list .replay-list-item .replay-list-text .replay-action {
  width:100%;
}
.replay-list .replay-list-item .replay-list-text .replay-text {
  width:100%;
  text-align:justify;
  margin:5px 10px 15px 10px;
}
.replay-list .replay-list-item .replay-list-text .replay-avathar {
  width:40px;
  height:40px
} 
.post-wrap div.selected-files {
  width:100%;
  display:flex;
  flex-wrap:wrap;
  align-items:center;
}
.post-wrap div.selected-files .selected-item {
  width:20%;
  padding:10px 15px 
} 



.side_bar { width: 270px;height: 100vh;padding: 30px 0;overflow: hidden;position: fixed;background: #ffff;z-index: 99;box-shadow: 4px 0px 16px 0px #0000000A;left: 0;border-radius: 0 10px 10px 0;top: 80px;     border: 1px solid #dadada;}
.side-bar-logo {margin: 0 0 20px;}
.side-nav-toggle {display: none;}
.sidebar-content {overflow: auto;height: 100%;padding: 0 0 50px;}
.sidebar-content::-webkit-scrollbar {display: none;}
.sidebar-content ul li.side-item{margin: 0 0 2px;}
.sidebar-content ul li.side-item a {padding: 10px 30px;display: flex;align-items: center;color: #000;cursor: pointer;position: relative;border-radius: 0; border: 1px solid transparent;}
.sidebar-content ul li.side-item a:hover {background: #EFEFEF;color: #000;  border: 1px solid #dadada;}
.sidebar-content ul li.side-item.active a {background: #000;color: #fff;}
.sidebar-content ul li.side-item.logout {padding: 25px 0 0 0;position: relative;}
.sidebar-content ul li.side-item a.log-out {color: #ec5e5e;}
.sidebar-content ul li.side-item.logout:after {content: "";position: absolute;width: 60%;background: rgb(30 30 30 / 10%);height: 1px;top: 15px;}
span.side-icon {display: inline-block;  width: 25px;  margin-right: 10px;padding-top: 3px; opacity: 0;}
span.active-icon {display: inline-block;width: 25px;margin-right: 10px; padding-top: 3px;position: absolute; opacity: 1;}
.sidebar-content ul li.side-item.active .side-icon { opacity: 1;}
.sidebar-content ul li.side-item.active .active-icon {opacity: 0;}
.sidebar-content ul li.side-item a:hover .side-icon {opacity: 1;}
.sidebar-content ul li.side-item a:hover .active-icon {opacity: 0;}
.sidebar-content ul li.side-item.logout a.log-out:hover { color: #ffffff !important;}
.content_outer {width: 100%;padding-left: 300px;padding-right: 30px;min-height: 100vh;padding-top: 0;padding-bottom: 30px;}
.header_nav {width: 100%;float: left;padding: 20px;background: #ffff;box-shadow: 4px 0px 16px 0px #0000000A;border-radius: 0 0 10px 10px;}
.header_nav .header_wrapp {display: flex;width: 100%;flex-wrap: wrap;justify-content: space-between;align-items: center;}
.header_nav .header_wrapp .header_title {width: auto;float: left;}
.header_nav .header_wrapp .header_right {float: right;}
.header_nav .header_wrapp .header_title h2 {font-size: 20px;font-weight: 600;}
.header_nav .header_wrapp .header_right ul.nav_bar {display: inline-block;}
.header_nav .header_wrapp .header_right ul.nav_bar li.nav_item {display: inline;}
.header_nav .header_wrapp .header_right ul.nav_bar li.nav_item a.nav_link.btn {color: #000;border: 1px solid #000;padding: 6px 27px;}
.header_nav .header_wrapp .header_right ul.nav_bar li.nav_item a.nav_link.btn:hover {background: #000 ;color: #ffff;}
.content_section { padding: 30px 0 20px;}
.dash_card { background: #fff; width: 23.5%; margin: 0 2% 2% 0;  padding: 20px;  border-radius: 7px;  transition: all .5s ease-in-out;  box-shadow: 1px -1px 20px 8px #0000000A;}
.dash_card .admin-icon { margin: 0 0 20px; display: block;  width: 80px; position: relative;}
.dash_card .admin-icon .wht-icon {width: 100%;display: block;  opacity: 0; transition: all .25s ease-in-out;}
.dash_card .admin-icon .red-icon {position: absolute; top: 0; left: 0; width: 100%; opacity: 1; transition: all .25s ease-in-out;}
.dash_card h3 { font-size: 18px; font-weight: 600; color: #000; display: block;}
.dash_card:hover { background: #000;}
.dash_card:hover .admin-icon .wht-icon {opacity: 1;}
.dash_card:hover .admin-icon .red-icon {opacity: 0;}
.dash_card:hover h3 {color: #fff;}
.dash_card:nth-child(4n) { margin-right: 0;}

.table-outer { width: 100%; background: #fff;box-shadow: 1px -1px 20px 8px #0000000A; padding: 10px; border-radius: 10px;}
.table-outer table { width: 100%;}
.table-outer table thead tr th { padding: 12px; background: #000; color: #fff;}
.table-outer table tbody tr { border-bottom: 1px solid rgb(0 0 0 / 10%);}
.table-outer table tbody tr:last-child {border-bottom: none;}
.table-outer table tbody tr td { padding: 8px 12px; vertical-align: middle;}
.table-outer table tbody tr td .btn-icons {padding: 0;width: 40px; height: 40px;}



.critical-reasoning { width: 100%; background: #fff; padding: 50px; border-radius: 6px;  box-shadow: 4px 0px 16px 0px #0000000A;}
.critical-reasoning h2 { font-size: 30px; font-weight: 600; margin: 0 0 38px;}
.critical-reasoning .critical-reasoning-row { width: 100%; display: flex; flex-wrap: wrap;  justify-content: space-between;}
.critical-reasoning .critical-reasoning-col1 { width: 45%;}
.critical-reasoning .critical-reasoning-col2 {width: 45%; position: relative;}
.critical-reasoning  .critical-reasoning-row1 { width: 100%;}
.critical-reasoning .critical-reasoning-row1 h3 { width: 100%; font-size: 18px; font-weight: 500; padding: 15px 22px;border: 1px solid #d6d6d6; margin: 0 0 30px; border-radius: 10px; cursor: pointer;}
.critical-reasoning .critical-reasoning-conten { width: 100%; padding: 20px 20px 5px; border: 2px solid #fdd03f; background: #faf8f3; border-radius: 10px; display: none; position: sticky; top: 14%;}
.critical-reasoning .critical-reasoning-conten p { font-size: 16px; line-height: 1.4; margin: 0 0 20px;}
.critical-reasoning .critical-reasoning-row1 h3.active { border: 2px solid #fdd03f;  background: #faf8f3;}
.critical-reasoning .critical-reasoning-conten.active { display: block;}


#review-history-modal .modal-content { border-radius: 10px; text-align: center;}
#review-history-modal .modal-content .modal-header { background: #2F4188;}
#review-history-modal .modal-content .modal-header h5 { color: #FFFFFF; font-size: 20px;}
#review-history-modal .modal-content button.close {background: #fff; color: #2F4188; border: 2px solid #fff;  font-size: 22px; line-height: 0; transition: all .25s ease-in-out;}
#review-history-modal .modal-content .table-outer table thead tr th { background: none; color: #000000; font-weight: 700;}
#review-history-modal .modal-content .table-outer table thead tr { border-bottom: 1px solid rgb(0 0 0 / 10%);}
#review-history-modal .modal-content .table-outer { box-shadow: none; overflow-x: auto;}
#review-history-modal .modal-content .table-outer table  .btn { border: 1px solid #8C8C8C; background: none;  color: #8C8C8C; padding: 6px 20px; transition: all .25s ease-in-out;}
#review-history-modal .modal-content .table-outer table .btn:hover { background: #8C8C8C; color: #fff;}
#review-history-modal .modal-content .btn#restart-btn { margin: 0 auto; float: none; display: inline-block; background: #FBAE1E; border: 1px solid #FBAE1E; transition: all .25s ease-in-out;}
#review-history-modal .modal-content .btn#restart-btn:hover { color: #FBAE1E; background: none;}
#review-history-modal .modal-content button.close:hover { background: #2F4188; color: #fff;}
#review-history-modal .modal-content .modal-body { padding: 30px;}
#review-history-modal .modal-content .table-outer table { min-width: 418px;}



.set-container .container-wrap {width: 100%;float: none; padding: 50px; margin: 0 auto 0; background: #ffff; box-shadow: 4px 0px 16px 0px #0000000A; border-radius: 10px; max-width: 1320px;}
.set-container .lesson .lesson-row { border: 1px solid #C8C8C8; text-align: center;}
.set-container .lesson .lesson-row .lesson-row-sets { justify-content: center;}
.set-container .lesson .lesson-row .lesson-row-title { margin: 0 0 20px;}
.set-container .lesson .lesson-row .lesson-row-sets .sets-item { border: 1px solid #90C3A0; padding: 5px 12px; font-size: 19px;}
.set-container .lesson .lesson-row .lesson-row-sets .sets-item:hover {background: #D1ECD9;}
.set-container .lesson .lesson-row:hover { border-color: #FBAE1E;}
.set-container .option-toggle {margin: 50px 10px;}
.set-container .option-toggle .option-item:has(input:checked) { border-color: #D6C954; background: #F6E7AE;}
.set-container .option-toggle .option-item { border: 1px solid #BDBDBD; background: #D9D9D9;}



.confirm-modal .modal-content { padding: 10px; border-radius: 10px;}
.confirm-modal .modal-content .modal-header {padding-bottom: 0; border: none;}
.confirm-modal .modal-content p { font-size: 16px; line-height: 1.5; margin: 0 0 20px;}
.confirm-modal .modal-dialog { max-width: 425px; top: 42%; transform: translateY(-50%);}
.confirm-modal .modal-content .modal-header h5 { font-size: 20px; font-weight: 500;}
.confirm-modal .modal-content .modal-body .btn.btn-dark {width: 48%;  margin-right: 2%;}
.confirm-modal .modal-content .modal-body .btn.btn-secondary { width: 48%; border: 1px solid #8F8F8F; background: none; color: #000000;}
.confirm-modal .modal-content .modal-body .btn.btn-dark:hover { background: none; color: #000;}
.confirm-modal .modal-content .modal-body .btn.btn-secondary:hover { background: #8F8F8F; color: #fff;}


.exam-container .container-wrap .lesson .lesson-body .mcq-container .image-area {max-width: 300px; width: 100%;  margin: 0 0 26px;}


.modal-expand.modal-expand-result-section { position: relative; top: 0; width: 100%; margin-top: 40px; padding: 50px 0; height: 100%; min-height: 95vh; background: no-repeat;}
.modal-expand.modal-expand-result-section .container-wrap { width: 90%; float: none;  padding: 50px;  margin: 50px auto 0;  background: #ffff;  box-shadow: 4px 0px 16px 0px #0000000A;  border-radius: 10px;  max-width: 1320px;}
.modal-expand.modal-expand-result-section .question-preview-title h3 {  font-size: 22px;  font-weight: 500;  color: #1989F8;  padding: 20px 0;}
.modal-expand.modal-expand-result-section .exam-result .exam-result-content .exam-mark-title {  background: #EEEEEE; margin: 0 0 20px;}
.modal-expand.modal-expand-result-section .exam-result .exam-result-content .card {  margin: 0  0 20px;}
.modal-expand.modal-expand-result-section .exam-result .exam-result-content p {  margin: 0 0 20px;}
.modal-expand.modal-expand-result-section .exam-result .exam-result-content .exam-mark-bottom a#review-link { background: #ECB301;  color: #fff;  border: 1px solid #ECB301;  font-size: 20px;}
.modal-expand.modal-expand-result-section .exam-result .exam-result-content .exam-mark-bottom a#review-link:hover {  color: #ECB301;  background: none;}


#review-history-modal .modal-content .table-outer table#attemt-list-table td:nth-child(2) { min-width: 200px;}
#review-history-modal .modal-content .table-outer table#attemt-list-table td {text-align: left;}


.card .action-button {width: 100%; margin: 30px 0 0;}
.card .action-button .btn { background: #FBAE1E; border: 1px solid #FBAE1E; width: 100%; max-width: 275px; color: #fff;}
.card .action-button .btn:hover {  background: #1989F8; border-color: #1989F8;}
.topic-section .category {align-items: start;}

.exam-container .summery-wrap { width: 90%; max-width: 1320px; margin: 50px auto 0; padding: 50px;}
.exam-container .summery-wrap h2 { font-size: 20px; font-weight: 500;  color: #000000;  margin: 0 0 20px;}
.exam-container .summery-wrap p { color: #787878;  font-size: 20px; margin: 0 0 20px; line-height: 1.56;}
.exam-container .summery-wrap .summery-action {  width: 100%;text-align: center;}
.exam-container .summery-wrap .summery-action .btn { background: #FBAE1E; padding: 10px 50px; color: #FFFFFF; font-size: 16px; margin: 0 auto;}
.exam-container .summery-wrap .summery-action .btn:hover { color: #FBAE1E; background: none;}
.exam-result .exam-result-content .card-body { border: 1px solid #cfcfcf; text-align: center;}
.modal-expand.modal-expand-result-section .exam-result .exam-result-content { text-align: center;}

.question-preview .question-preview-body .card {border: none; text-align: left;}
.question-preview .question-preview-body .card .exam-mark-body { padding: 0;}
.question-preview .question-preview-body .card .mark-label { margin: 0 0 20px; display: block; font-size: 17px;}
.question-preview .question-preview-body .card .mark-title h3 { font-size: 18px;}
.question-preview .question-preview-body .card .mark-title h3 { color: #000; font-weight: 500; margin: 0 0 20px;}
.question-preview .question-preview-body .card .mark-label span {display: inline; margin: 0 0 5px;}
.question-preview .question-preview-body .exam-result { text-align: left;}
.question-preview .question-preview-body .exam-result p { font-size: 18px; margin: 0 0 20px;}
.question-preview .question-preview-body .exam-result .exam-mark-bottom a#review-link { color: #fff; background: #FFA800; border: 1px solid #FFA800;}
.question-preview .question-preview-body .exam-result .exam-mark-bottom a#review-link:hover { background: none; color: #FFA800;}


.exam-overview .exam-overview-content table { border-radius: 10px; border-collapse: separate; overflow: hidden; min-width: 900px; border: 1px solid #D0D0D0;}
.exam-overview .exam-overview-content .overview-table { overflow-x: auto;}
.exam-overview .exam-overview-content table tr th { border-color: rgb(0 0 0 / 10%) !important; background: #ECECEC;}



.exam-container .question-bank {padding: 0; max-width: 100%;}
.exam-container .question-bank .lesson .lesson-body .mcq-container {width: 100%; padding: 50px; display: flex; flex-wrap: wrap; justify-content: space-between; position: relative;}
.exam-container .question-bank .lesson .lesson-body .mcq-container .mcq-group { width: 50%; padding: 0 35px 0 0;}
.exam-container .question-bank .lesson .lesson-body .mcq-container .mcq-answer { width: 50%; padding: 0 0 0 35px;}
.exam-container .question-bank .lesson .lesson-body .mcq-container:after { content: ""; position: absolute; width: 1px; height: 100%; top: 0; left: 50%; transform: translateX(-50%); background: #1599f2;}
.exam-container .question-bank .lesson .lesson-body .mcq-container .mcq-group h3 {font-size: 20px; font-weight: 500; color: #000000; margin: 0 0 20px;}


.exam-container .question-bank-review { max-width: 100%; padding: 0; position: relative;}
.exam-container .question-bank-review .lesson .lesson-body { margin: 0;}
.exam-container .question-bank-review .lesson .lesson-body .mcq-container { width: 100%; display: flex; flex-wrap: wrap;  padding: 50px 50px 0;  position: relative;}
.exam-container .question-bank-review .lesson .lesson-body .mcq-container .mcq-group { width: 50%; padding: 0 35px 0 0;}
.exam-container .question-bank-review .lesson .lesson-body .mcq-container .mcq-group-right { width: 50%;  padding: 0 0 0 35px;}
.exam-container .question-bank-review .lesson .lesson-body  .col-md-12 { padding: 0;}
.exam-container .question-bank-review .lesson  .lesson-exit { position: absolute; top: 50px; left: 40px;}
.exam-container .question-bank-review .lesson .lesson-body h3 { font-size: 20px; font-weight: 500; color: #000000; margin: 0 0 20px; padding: 0 0 0 35px;}
.exam-container .question-bank-review .lesson .lesson-body .mcq-container:after { content: ""; position: absolute; width: 1px; height: 100%; top: 0; left: 50%; transform: translateX(-50%);  background: #1599f2;}
.exam-container .question-bank-review .lesson #lesson-footer-pagination { margin: 30px 0; display: inline-block;}
.exam-container .question-bank-review .lesson #lesson-footer-pagination button.btn { display: inline-block;}
.exam-container .question-bank-review .lesson .lesson-body .mcq-container .mcq-group-right .mcq-explanation { font-size: 20px; font-weight: 600; margin: 0 0 20px;}


.card-links {border: none; border-radius: 10px;}
.card-links .card-body { padding: 25px; text-align: center;}
.card-links .card-body h3 { font-size: 18px; font-weight: 400; margin: 0 0 20px;}
.card-links .card-body .session-links { width: 100%;}
.card-links .card-body .session-links .btn-outline-secondary { border: 1px solid #17C274; color: #000000; font-size: 18px;}
.card-links .card-body .session-links .btn-outline-warning { border: 1px solid #FBAE1E; color: #000; font-size: 18px;}
.card-links .card-body .session-links span { display: inline-block; margin: 0 10px; font-size: 18px;}
.card-links .card-body .session-links .btn-outline-secondary:hover { background: #17C274;}
.card-links .card-body .session-links .btn-outline-warning:hover { background: #FBAE1E;}


.card-calendar .card-body { padding: 30px;}
.card-calendar .card-body h3 { font-size: 24px; color: #000000; font-weight: 400; margin: 0 0 26px;}
.card-calendar .card-body .calendar { width: 100%;}
.card-calendar .card-body .calendar .calendar-body .fc-view-harness .fc-multiMonthFourMonth-view { justify-content: space-between; border-radius: 10px;}
.card-calendar .card-body .calendar .calendar-body .fc-view-harness .fc-multiMonthFourMonth-view .fc-multimonth-month { width: 50% !important; border-right: 1px solid #ddd;}
.card-calendar .card-body .calendar .calendar-body .fc-view-harness .fc-multiMonthFourMonth-view::-webkit-scrollbar {  display: none;}
.card-calendar .card-body .calendar .calendar-body .fc-view-harness .fc-multiMonthFourMonth-view .fc-multimonth-month:last-child { border: navajowhite;}
.card-calendar .card-body .calendar .calendar-body .fc-view-harness .fc-multiMonthFourMonth-view .fc-multimonth-month .fc-multimonth-header table thead tr th { border: none; font-size: 12px;}
.card-calendar .card-body .calendar .calendar-body .fc-view-harness .fc-multiMonthFourMonth-view .fc-multimonth-month .fc-multimonth-header table thead tr th .fc-col-header-cell-cushion { color: #000000;}
.card-calendar .card-body .calendar .calendar-body .fc-view-harness .fc-multiMonthFourMonth-view .fc-multimonth-month table tbody tr td { border: none; padding: 1%; vertical-align: middle;}
.card-calendar .card-body .calendar .calendar-body .fc-view-harness .fc-multiMonthFourMonth-view .fc-multimonth-month table tbody tr td .fc-daygrid-day-frame { min-height: auto;}
.card-calendar .card-body .calendar .calendar-body .fc-view-harness .fc-multiMonthFourMonth-view .fc-multimonth-month table tbody tr td .fc-daygrid-day-frame .fc-daygrid-day-top { position: relative; z-index: 9; justify-content: center; align-items: center; margin: 3px 0 0;}
.card-calendar .card-body .calendar .calendar-body .fc-view-harness .fc-multiMonthFourMonth-view .fc-multimonth-month table tbody tr td .fc-daygrid-day-frame .fc-daygrid-day-top .fc-daygrid-day-number { color: #000;  font-size: 12px;}
.card-calendar .card-body .calendar .calendar-body .fc-view-harness .fc-multiMonthFourMonth-view .fc-multimonth-month table tbody tr td .fc-daygrid-day-frame .fc-daygrid-day-events { width: 100%; height: 100%; top: 0;}
.card-calendar .card-body .calendar .calendar-body .fc-view-harness .fc-multiMonthFourMonth-view .fc-multimonth-month table tbody tr td .fc-daygrid-day-frame .fc-daygrid-day-events .fc-event { min-height: 20px;}
.card-calendar .card-body .calendar .calendar-body .fc-header-toolbar .fc-toolbar-chunk h2 { font-size: 28px;}


.card-progress .card-body {padding: 30px;}
.card-progress .card-body h3 { font-size: 20px; font-weight: 400; margin: 0 0 24px;}
.card-progress .card-body .session-chart { width: 100%; text-align: center;}
.card-progress .card-body  .session-text { text-align: center; font-size: 20px; font-weight: 400; margin: 5px 0 0;}
.card-progress .card-body .session-chart .donut-inner { margin: 10px 0 0; font-size: 20px; font-weight: 400;}




@media screen and (max-width:1500px) {
.lesson .lesson-row { padding-top: 56px;}

}


@media screen and (max-width:1199px) {
.lesson .lesson-row-title h3 { font-size: 20px;}
.lesson .lesson-row-title h4 { font-size: 20px;}
.lesson .lesson-row { padding: 56px 20px 20px;}
.lesson .lesson-row-title .lesson-line { font-size: 15px;}


}

@media screen and (max-width:991px) {
.side_bar { margin-left: -100%; position: fixed; transition: all .25s ease-in-out;}
.content_outer {padding-left: 30px;}
.sidebar-menu { position: fixed;  width: 30px; height: 30px; top: 28px; left: 15px; z-index: 999;}
.sidebar-menu .line { width: 100%; position: relative; display: inline-block; height: 2px; background: #1989f8; transition: all .25s ease-in-out;}
.sidebar-menu .line:before { content: ""; width: 100%; position: absolute; display: inline-block; height: 2px; background: #1989f8; top: -10px; transition: all .25s ease-in-out;}
.sidebar-menu .line:after { content: ""; width: 100%; position: absolute; display: inline-block; height: 2px; background: #1989f8; top: 10px; transition: all .25s ease-in-out;}
nav.navbar { padding-left: 60px;}
.side_bar.show { margin-left: 0;}
.sidebar-menu .active .line { background: transparent;}
.sidebar-menu .active .line:before { top: 0; transform: rotate(-45deg);}
.sidebar-menu .active .line:after { top: 0; transform: rotate(45deg);}

}

@media screen and (max-width:767px) {
.set-container .container-wrap { width: 100%; padding: 30px;}

.option-toggle .option-item { font-size: 14px;}

.set-container .lesson .lesson-row .lesson-row-sets .sets-item { font-size: 16px;}

.exam-container .container-wrap {padding: 30px;}
.exam-container .container-wrap .lesson .lesson-body p {font-size: 16px;}

.exam-overview .vl { display: none;}
.exam-overview .exam-overview-content { margin: 20px 0 0;}

}