body {
    background: #000;
    font-family: Arial, sans-serif;  
}
.card {
    border: none;
    /* height: 320px; */
}
.forms-inputs {
    position: relative;
}
.forms-inputs span {
    position: absolute;
    top: -18px;
    left: 10px;
    background-color: #fff;
    padding: 5px 10px;
    font-size: 15px;
}
.forms-inputs input {
    height: 50px;
    border: 2px solid #eee;
}
.forms-inputs input:focus {
    box-shadow: none;
    outline: none;
    border: 2px solid #000;
}
.btn {
    height: 50px;
}
.success-data {
    display: flex;
    flex-direction: column;
}
.bxs-badge-check {
    font-size: 90px;
}

.register-container p,.login-container p {
    margin: 10px 0;
}

.register-wrapp a ,.login-wrapp a {
    color: #007bff;
    text-decoration: none;
}

.register-wrapp a:hover ,.login-wrapp a:hover {
    text-decoration: underline;
}
  


.login-wrapp {
    width: 100%;
    position: relative;
}

.login-wrapp .login-head {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding: 15px 5%;
}

.login-wrapp .login-head .logo {
    width: auto;
}

.login-wrapp .login-cont {
    width: 100%;
    background: #fff;
    height: 100vh;
}

.login-wrapp .login-cont .login-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.login-wrapp .login-cont .login-row .login-left {
    width: 50%;
    background: #FDF4E0;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
}

.login-wrapp .login-cont .login-row 
 .login-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
}

.login-wrapp .login-cont .login-row .login-left img {
    max-width: 100%;
    display: block;
}

.login-wrapp .login-cont .login-row .login-right .card {
    width: 100%;
    max-width: 500px;
}