body {
    background: #000;
    font-family: Arial, sans-serif;  
}
.card {
    border: none;
    /* height: 320px; */
}
.forms-inputs {
    position: relative;
}
.forms-inputs span {
    position: absolute;
    top: -18px;
    left: 10px;
    background-color: #fff;
    padding: 5px 10px;
    font-size: 15px;
}
.forms-inputs input {
    height: 50px;
    border: 2px solid #eee;
}
.forms-inputs input:focus {
    box-shadow: none;
    outline: none;
    border: 2px solid #000;
}
.btn {
    height: 50px;
}
.success-data {
    display: flex;
    flex-direction: column;
}
.bxs-badge-check {
    font-size: 90px;
}

.register-container p,.login-container p {
    margin: 10px 0;
}

.register-wrapp a ,.login-wrapp a {
    color: #007bff;
    text-decoration: none;
}

.register-wrapp a:hover ,.login-wrapp a:hover {
    text-decoration: underline;
}
  


.login-wrapp {
    width: 100%;
    position: relative;
}

.login-wrapp .login-head {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding: 15px 5%;
}

.login-wrapp .login-head .logo {
    width: auto;
}

.login-wrapp .login-cont {
    width: 100%;
    background: #fff;
    height: 100vh;
}

.login-wrapp .login-cont .login-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.login-wrapp .login-cont .login-row .login-left {
    width: 50%;
    background: #FDF4E0;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
}

.login-wrapp .login-cont .login-row 
 .login-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
}

.login-wrapp .login-cont .login-row .login-left img {
    max-width: 100%;
    display: block;
}

.login-wrapp .login-cont .login-row .login-right .card {
    width: 100%;
    max-width: 500px;
}

.login-wrapp .login-cont .login-row .login-right .card h2 {
    font-size: 32px;
    font-weight: 500;
    color: #000;
    margin: 0 0 20px;
}

.login-wrapp .login-cont .login-row .login-right .card h3 {
    font-size: 24px;
    color: #000;
    margin: 0 0 20px;
}

.login-wrapp .login-cont .login-row .login-right .card .forms-inputs input {
    width: 100%;
    height: 64px;
    background: none;
    box-shadow: none;
    border: 1px solid #E1E1E1;
    font-size: 18px;
    color: #767676;
    padding: 17px;
}

.login-wrapp .login-cont .login-row .login-right .card .btn {
    background: #FBAE1E;
    border: 1px solid #FBAE1E;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    height: 64px;
}

.login-wrapp .login-cont .login-row .login-right .card .btn:hover{
    background: none;
    color: #FBAE1E;
} 

.login-wrapp .login-cont .login-row .login-right .card p {
    font-size: 18px;
    color: #000;
}

.login-wrapp .login-cont .login-row .login-right .card p a {
    color: #000;
    text-decoration: none;
    transition: all .25s ease-in-out;
}

.login-wrapp .login-cont .login-row .login-right .card p a:hover {
    color: #fbae1e;
}